# IDE
.idea/
*.iml

# Build files
build/
out/

# Database
*.db
*.sqlite

# Logs
*.log

# Thư mục data nặng
data/effdata/
data/effect/
data/icon/
data/img_by_name/
data/item_bg_temp/
data/map/
data/mob/

# Temp files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db
